<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Invalid</title>
<style>
	h1{
		color: red;
	}
	p{
		color: chocolate;
	}
</style>
</head>
<div align="center">
<body>
	<h1>Invalid Email ID/Password </h1><br>
	<p>Please enter correct email id/ password</p><br>
</body>
<a href="/api/login">Login again</a>
</div>
</html>