<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>home</title>
<style>
	h1{
		color: darkblue;
		
	}
	h2{
		color: darkmagenta;
	}
	tbody{
		color: blue;
		background-color: darkgrey;
	}
	table{
		border-collapse: collapse;
		width: 100%;
		height: 40%;
	}
	td,th{
		border-collapse: collapse;
		padding: 2%;
		border: 1px solid black;
	}
</style>
</head>
<table>
<h1 color="Green"><center>University</center></h1><br>
<body>
	<tbody>
		<tr>
			<th>	
<div align="center">
<h2>Welcome to Student Registration Form</h2><br><br>
<a href="/api/login" color="blue">Login</a><br><br>
<a href="/api/register" color="LightBlue">Click here to register</a><br><br>
</div>
</th>
		</tr>
	</tbody>	
</table>
</body>
</html>