<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>No user</title>
<style>
	h2{
		color: crimson;
	}
	p{
		color: chocolate;
	}
</style>
</head>
<div align="center">
<body>
	<h2>>Missing something...</h2><br>
	<p>Please select Role as ADMIN or STUDENT  </p><br>
</body>
<a href="/api/login">Login again</a>
</div>
</html>