<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Success</title>
<style>
	h2{
		color: forestgreen;
	  }
</style>
</head>
<body>
<div align="center"><br>
<h2>Student Registered Successfully</h2>

<span font-color="green">Thank you for registering.</span><br><br>
</div>
</body>
<a href="/api/login" color="blue"><center>Login</center></a><br><br>
</html>